<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
  <h2>admin</h2>
    <table>
        <tr>
            <td>회원번호</td>
            <td>이메일</td>
            <td>삭제</td>
        </tr>
        <tr th:each="member : ${memberDTOList}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td><button th:onclick="|location.href='@{/member/delete/{id}(id=${member.id})}'|">회원탈퇴</button></td>
        </tr>
    </table>
</body>
</html>