<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
  <meta charset="UTF-8">
  <title>header</title>
  <style>
    #header{
      background-color: lightblue;
    }
  </style>
  <div id="header">
    <a href="/">index로 이동</a>
    <!-- 로그인 o
        1. 관리자(admin)라면 관리자모드 링크 보임.
        2. 관리자가 아니라면 로그아웃 보임
        로그인 x
        1. 회원가입 링크보임-->
    <div th:if="${session.loginMemberEmail}">
      <div th:if="${session.loginMemberEmail.toString().equals('admin')}">
        <a href="/member/admin">관리자 모드</a>
      </div>
      <a href="/member/logout">로그아웃</a>
    </div>
    <div th:unless="${session.loginMemberEmail}">
      <a href="/member/save">회원가입</a>
      <a href="/member/login">로그인</a>
    </div>
  </div>



</th:block>
</html>