<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
<h2>detail.html</h2>
<table>
  <tr>
    <td>글번호</td>
    <td>제목</td>
    <td>작성자</td>
    <td>내용</td>
    <td>조회수</td>
    <td>작성일자</td>
    <td>사진</td>
  </tr>
  <tr>
    <td th:text="${boardDTO.id}"></td>
    <td th:text="${boardDTO.boardTitle}"></td>
    <td th:text="${boardDTO.boardWriter}"></td>
    <td th:text="${boardDTO.boardContents}"></td>
    <td th:text="${boardDTO.boardHits}"></td>
    <td th:text="*{#temporals.format(boardDTO.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td><img th:src="@{|/upload/${boardDTO.boardFileName}|}" width="100" height="100" alt=""></td>
  </tr>

  <tr th:if="${session.loginMemberEmail.toString().equals(boardDTO.boardWriter)}">
    <td><button th:onclick="button(1)">수정</button> <button th:onclick="button(2)">삭제</button></td>
  </tr>
  <tr th:if="!${session.loginMemberEmail.toString().equals(boardDTO.boardWriter)}">
    <div th:if="${session.loginMemberEmail.toString().equals('admin')}">
      <td><button th:onclick="button(2)">삭제</button></td>
    </div>
  </tr>
</table>
</body>
<script>
  const button = (num) => {
      if(num==1){
        location.href = "/board/update/" + [[${boardDTO.id}]];
        alert("수정")
      }else{
        alert("삭제되었습니다.");
        location.href = "/board/delete/" + [[${boardDTO.id}]];
      }
  }
</script>
</html>